*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem is 10px
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.6;
  background-color: var(--color-body-bg);
}

@font-face {
  font-family: CFDots-Regular;
  src: url(../font/CFDots-Regular.ttf);
}
