:root {
  --color-main-bg: #4da512;
  --color-lumination-off: #1f1200;
  --color-lumination-on: #c70000;
  --color-score: #ff0000;
  --color-score-bg: #fff;
  --color-gamingButton: #e9e3ad;
  --color-startButton: #b40000;
  --color-infoButton: #b0e8f0;
}

$color-border: #e2e2e2;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem is 10px
}

body {
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.6;
}


@font-face {
  font-family: CFDots-Regular;
  src: url(../font/CFDots-Regular.ttf);
}


/// MIXINS
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin thinBorder {
  border: 1px solid $color-border;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin infoButtons {
  @include circle(4rem);
  @include centerFlex;
  @include thinBorder;
  background-color: var(--color-infoButton);

  &__icon {
    height: 40%;
  }
}