:root {
  --color-main-bg: #019601;
  --color-lumination-off: #312928;
  --color-lumination-on: #d31818;
  --color-score: #bd0000;
  --color-score-bg: #fff;
  --color-gamingButton-bg: #f1db14;
  --color-startButton: #b40000;
  --color-startButton-bg: #7cc900;
  --color-infoButton: #80a54f;
}

$color-border: #e2e2e2;