:root {
  --color-body-bg: #ffffff;
  --color-main-bg: #019601;
  --color-lumination-off: #312928;
  --color-lumination-on: #d31818;
  --color-score: #bd0000;
  --color-score-bg: #fff;
  --color-gamingButton-bg: rgb(225, 206, 29);
  --color-startButton: #b40000;
  --color-startButton-bg: #7fc213;
  --color-infoButton: #80a54f;
  --color-modalBox: rgba(225, 206, 29, .95);
}

$color-border: #e2e2e2;
$color-border-device: #6b3401;