:root {
  --color-main-bg: #019601;
  --color-lumination-off: #1f1200;
  --color-lumination-on: #c70000;
  --color-score: #ff0000;
  --color-score-bg: #fff;
  --color-gamingButton: #e9e3ad;
  --color-startButton: #b40000;
  --color-infoButton: #80a54f;
}

$color-border: #e2e2e2;